@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
:root {
  font-family: "Roboto", "sans-serif";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  --background-color: oklch(14.7% 0.004 49.25);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[data-theme="light"] {
  --background-color: oklch(92.2% 0 0);
}
@theme inline {
  --color-base: var(--background-color);
}
